/* 태그 선택자*/
/* ul {
 background-color :rgb(13, 250, 250) ;  
} */

/*아이디 선택자*/
/* #foo1{
    font-weight: bold;
} */

/*클래스 선택자*/
/* .group1 {
 color:brown;
} */

/* .group2 {
    color: blueviolet;
}

.group1.group2 {
    color: darkblue;
} */

/* 속성 선택자*/
/* [title] {
     cursor: pointer;
} */

/* [title=안녕2] {
    text-decoration: underline;
}  */

/*혼용해서 사용*/
/* li#foo3.group2 {
    background-color: blanchedalmond;
} */

/* 복수개 사용 */
/* #foo4, #foo5 {
    color: forestgreen;
} */


/* ------------------------------------------- */

/* 자식선택자 와 후손선택자 */

/* 1. 자식선택자 */
 /* #parent > h4 {
    color: tomato;
 } */

 /* 2. 후손선택자 */
 /* #parent h4 {
    color: tomato;
 } */

 /* parent하위의 모든 li에 적용 */


 /* #parent > ul > li {
    color:crimson;
 }

 #parent  #child > ul > li {
    color: rgb(14, 209, 209);
 } */


 /* --------------------------------------------- */
/*형제 선택자*/
/*순서적으로(오름차순은 불가능), 다음 형제 요소 하나만 변경됨.*/
#p1 + p {
    color: springgreen;
}

/* 다음에 나오는 모든 형제의 요소변경 */
/* #p1 ~ p {
    text-decoration: underline;
} */

/* pretag까지 포함해서 변경 '*'*(모든 요소선택자) 사용 */
#p1 ~ * {
    text-decoration: underline;
}

/* 가상 클래스 선택자 */
/* 특정 상황에 작동하는 선택자d임 */
#bar1:active {
    background-color: blueviolet;
    color: aliceblue;
}

#bar2:hover {
    background-color: rgb(116, 226, 43);
    color: rgb(17, 0, 250);
}

/* 위치관련 가상클래스 선택자 */
/* 1.child계엘(위치로 계산) */

/* #season-wrapper :first-child {
    color: springgreen;
} */


/* #season-wrapper > first-child {
    color: springgreen;
}

#season-wrapper p:first-child {
    color: springgreen;
} */

/* #season-wrapper :last-child {
    color: springgreen;
} */

/* #season-wrapper :nth-child(3) {
    color: springgreen;
} */


/* 짝수 위치의 텍스트에 태그 적용 */
/* #season-wrapper :nth-child(2n) {
    color: springgreen;
} */

/*홀수 위치의 텍스트에 태그 적용 */
/* #season-wrapper :nth-child(2n+1) {
    color: springgreen;
} */



/* 2.of-type계열(타입, 위치로 계산) */
/* of-type 계엘 (타입, 위치)  */
#season-wrapper p:first-of-type {
    color:  springgreen;
}

/* of-type 계엘 (타입, 위치)  */
/* #season-wrapper p:last-of-type {
    color:  springgreen;
} */


/* 부정선택자 */
/* id가 css가 아닌 문구에만 태그 적용 */
#client-langth li:not(#css3) {
    color: aquamarine;
}

/* 루트선택자 */
:root {
    background-color: bisque;
}



/* ---------------------------------------- */
/* 가상요소 선택자 */

/* ::before는 시작태그와 내용 사이에 기입된다 */
/* #price-list li::before{
    content: '￦';
} */

/* ::after 종료태그와 내용사이에 기입할수 있다 */
#price-list li::after{
    content: 🍔;
}

